.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: baseline;
    overflow: hidden;
    border-radius: 2.25rem;
    color: #fff;
    background-color: #6c757d;
}
